:root {
  --palette-1: #1D1E2C;
  --palette-2: #50723C;
  --palette-3: #63B995;
  --palette-4: #86DEB7;
  --palette-5: #ADEEE3;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--palette-1);
}

table, tr, td {
  border-collapse: collapse;
}

td {
  border: 4px solid var(--palette-2);
  width: 13vmin;
  height: 13vmin;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr td:first-child {
  border-left: none;
}

tr td:last-child {
  border-right: none;
}
